@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Spectral";
  src: url("/fonts/Spectral-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url("/fonts/Spectral-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Hack Nerd";
  src: url("/fonts/Hack\ Regular\ Nerd\ Font\ Complete.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hack Nerd";
  src: url("/fonts/Hack\ Bold\ Nerd\ Font\ Complete.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
