---
import PostLayout from "../layouts/PostLayout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../posts/*.md");

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<PostLayout title={frontmatter.title}>
  <section class="text-white m-16">
    <button><a href="/blog">Back</a></button>
    <h1 class="text-4xl pb-8">{frontmatter.title}</h1>
    <Content />
  </section>
</PostLayout>
