---
import Card from "../components/Card.astro";
import BlogLayout from "../layouts/BlogLayout.astro";

const posts = await Astro.glob("../posts/*.md");

---

<BlogLayout title={"Splash Blog"}>
    <section>
        {posts.map(post => (
            <Card>
                <h1>{post.frontmatter.title}</h1>
                <p>{post.frontmatter.excerpt}</p>
            </Card>
        ))}
    </section>
</BlogLayout>