---
import Layout from "../layouts/Layout.astro";

const posts = (await Astro.glob("../posts/*.mdx")).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<Layout title={"Splash Blog"}>
  <main class="text-white">
    <header>
      <h1 class="text-5xl text-secondary py-12 font-hack">Blog Posts</h1>
    </header>
    <section>
      {
        posts.map((post) => (
          <div class="py-8 text-lg font-source">
            <time datetime="post.frontmatter.date">
              {new Intl.DateTimeFormat("en", {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
              }).format(new Date(post.frontmatter.date))}
            </time>
            <br />
            <a
              href={`/${post.frontmatter.slug}`}
              class="text-2xl text-secondary hover:text-white duration-300"
            >
              {post.frontmatter.title}
            </a>
            <p>{post.frontmatter.excerpt}</p>
          </div>
        ))
      }
    </section>
  </main>
</Layout>
