---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../posts/*.md");

---

<Layout title={"Splash Blog"}>
    <section>
        {posts.map(post => (
            <h1>{post.frontmatter.title}</h1>
            <p>{post.frontmatter.excerpt}</p>
        ))}
    </section>
</Layout>