---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
import Intro from "../components/Intro.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Socials from "../components/Socials.astro";
import Credits from "../components/Credits.astro";
---

<FrontPageLayout title={"Splash Zone"}>
  <main class="px-96 bg-primary">
    <Intro />
    <About />
    <Experience />
    <Socials />
    <Credits />
  </main>
</FrontPageLayout>
