---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
import pfp from "../assets/pfp.jpg";
---

<FrontPageLayout title={"Splash Zone"}>
  <main>
    <section>
      <h1>Yo! This is Enrique!</h1>
      <h2>
        I'm a computer programmer and systems administrator from New York, with
        interests in full-stack development, DevOps, content creation, and
        making tech accessible to all.
      </h2>
      <img src={pfp} alt="me" />
    </section>
    <section>
      <h3>About</h3>
      <p>
        I graduated from St. John's University with a degree in Computer
        Science, with experience in languages and technologies such as:
      </p>
      <ul>
        <li>Python</li>
        <li>HTML5/CSS</li>
        <li>JavaScript</li>
        <li>Java</li>
        <li>React</li>
        <li>Astro</li>
        <li>JIRA/Confluence</li>
        <li>Linux</li>
      </ul>
      <p>
        When I'm not working or studying, you'll catch me playing video games,
        tinkering with mechanical keyboards, or reading my favorite books and
        manga.
      </p>
    </section>
    <section>
      <h3>Experience</h3>
    </section>
  </main>
</FrontPageLayout>
