---
const techs = [
  "Python",
  "HTML/CSS",
  "JavaScript",
  "Java",
  "React",
  "Astro",
  "Jira/Confluence",
  "Linux",
  "Git",
];
---

<section class="pb-11">
  <h3 class="text-4xl font-bold pb-3 text-secondary">About</h3>
  <p class="text-xl pb-3 text-white">
    I graduated from St. John's University with a degree in Computer Science,
    with experience in languages and technologies such as:
  </p>
  <ul class="list-disc list-inside columns-2 pb-3 text-white">
    {techs.map((tech) => <li>{tech}</li>)}
  </ul>
  <p class="text-xl text-white">
    When I'm not working or studying, you'll catch me playing video games,
    tinkering with mechanical keyboards, or reading my favorite books and manga.
  </p>
</section>
