---
export interface Props {
    frontPage?: boolean;
}

const { frontPage= false } = Astro.props as Props;
---

<div class={`p-5 rounded-lg shadow-md ${frontPage && 'bg-accent'}`}>
   <slot />
</div>