<section class="bg-accent p-11">
  <h3 class="text-4xl pb-3 text-secondary">Experience</h3>
  <p class="text-xl pb-3 text-white">
    Information Technology Intern - Hermes of Paris USA
  </p>
  <p class="text-sm pb-3 text-white">June 2021 - December 2021</p>
  <ul class="list-disc pb-3 text-white">
    <li>
      Designed an improved knowledge base in Confluence for internal use,
      consolidating data from disparate sources and teams to easily access
      important info.
    </li>
    <li>
      Spearheaded security documentation and procedures of point-of-sales
      systems ahead of the American Dream location's grand opening.
    </li>
    <li>
      Collaborated with server migration team to set up two new remote data
      centers, with task ranging from operating system setup, network tests,
      physical installation, and progress documentation on Jira.
    </li>
  </ul>
  <p class="text-xl pb-3 text-white">
    Buildings and Management Intern - The Metropolitan Museum of Art
  </p>
  <p class="text-sm pb-3 text-white">January 2017 - May 2017</p>
  <ul class="list-disc pb-3 text-white">
    <li>
      Consolidating archived architecture spending budget data from past
      projects into Excel.
    </li>
    <li>
      Assisted in logistics planning for new exhibits by working with
      contractors and curators to discuss physical exhibit components (placards,
      glass cases, etc.).
    </li>
    <li>
      Facilitated guided tours for new and upcoming exhibits throughout the
      museum.
    </li>
  </ul>
</section>
