---
import pfp from "/assets/pfp.jpg";
---

<section class="flex flex-row justify-center items-center min-h-screen gap-20">
  <div class="w-1/2">
    <h1 class="text-5xl font-bold pb-5 text-white">
      Yo! This is <span class="text-secondary">Enrique</span>!
    </h1>
    <h2 class="text-2xl text-white">
      I'm a software engineer from New York, with interests in full-stack
      development, DevOps, content creation, and making tech accessible to all.
    </h2>
  </div>
  <div class="w-1/2 rounded-2xl bg-secondary">
    <img
      class="w-full h-full rounded-2xl hover:-translate-x-5 hover:-translate-y-5 duration-300"
      src={pfp}
      alt="me"
    />
  </div>
</section>
