---
import pfp from "/assets/pfp.jpg";
---

<section class="flex flex-row justify-center items-center min-h-screen gap-20">
  <section class="">
    <h1 class="text-5xl font-bold pb-5 text-white">
      Yo! This is <span class="text-secondary">Enrique</span>!
    </h1>
    <h2 class="text-xl text-white">
      I'm a computer programmer and systems administrator from New York, with
      interests in full-stack development, DevOps, content creation, and making
      tech accessible to all.
    </h2>
  </section>
  <img class="w-auto h-auto drop-shadow-2xl rounded-2xl" src={pfp} alt="me" />
</section>
