---
import { Icon } from "astro-icon";
---

<section class="flex flex-row gap-2">
  <a
    class="w-8 text-secondary hover:text-white duration-300"
    href="mailto:emjavier16@gmail.com"
  >
    <Icon name="fluent:mail-16-filled" />
  </a>
  <a
    class="w-8 text-secondary hover:text-white duration-300"
    href="https://twitter.com/emjavier16"
    target="_blank"
    rel="noreferrer noopener"
  >
    <Icon name="carbon:logo-twitter" />
  </a>
  <a
    class="w-8 text-secondary hover:text-white duration-300"
    href="https://linkedin.com/in/enrique-javier-349655223"
    target="_blank"
    rel="noreferrer noopener"
  >
    <Icon name="carbon:logo-linkedin" />
  </a>
  <a
    class="w-8 text-secondary hover:text-white duration-300"
    href="https://github.com/usefulsplash"
    target="_blank"
    rel="noreferrer noopener"
  >
    <Icon name="carbon:logo-github" />
  </a>
</section>
